.projetos .container-projetos,
.certificados .container-certificados {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;
}

@media(max-width: 1280px) {

    .projetos .container-projetos,
    .certificados .container-certificados {
        padding: 0 var(--mobile-padding);
    }
}

.projetos .container-projetos .projeto,
.certificados .container-certificados .certificado {
    border-radius: 5px;
    transition: all 0.3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: relative;
    margin-top: 40px;
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto:hover .informacoes-projeto,
.certificados .container-certificados .certificado:hover,
.certificados .container-certificados .certificado:hover .informacoes-certificado {
    opacity: 0.8;
    cursor: pointer;
}

.projetos .container-projetos .projeto img,
.certificados .container-certificados .certificado img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.projetos .container-projetos .projeto .informacoes-projeto,
.certificados .container-certificados .certificado .informacoes-certificado {
    padding: 20px 20px;
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.projetos .container-projetos .projeto .informacoes-projeto p:nth-child(2),
.certificados .container-certificados .certificado .informacoes-certificado p:nth-child(2) {
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.4rem;
}

.projetos .container-projetos .projeto .tituloCertificado,
.certificados .container-certificados .certificado .tituloCertificado {
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    opacity: 0.7;
    background-color: var(--cor-fundo-escuro);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
}

.certificado {
    transition: transform 0.3s ease;
}

.zoom {
    z-index: 9999;
    transform: scale(2.3);
}

.desativado {
    display: none;
}